.movie-top {
  background-color: #323232;
  padding: 1rem;
  margin-top: 1rem;
  h2 {
    color: #dadada;
  }
}

.list-group-item {
  color: #949494;
}

.movie-bottom {
  color: #949494;
  margin-top: 3rem;
  padding: 1rem;
}

.fa-star{
  color: yellow;
}

.fa-bookmark{
  font-size: 2rem;
  color: #ff1e56;
}
