.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 20rem;
  &:hover {
    border: solid white;
  }
  display: flex;
  justify-content: flex-end;
  padding: 0.9rem;
}
